/* Google Fonts Link : Method-3 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

/* Navbar Styling */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 30px;
  /* text-transform: uppercase; */
  box-shadow: 0 4px 16px 4px rgb(196, 186, 186);
  --webkit-box-shadow: 0 4px 20px 4px rgb(196, 186, 186);
}

.active {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* footer styling */
footer a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

footer a:hover {
  color: yellow;
}

/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* ========================================= */